@model IEnumerable<EF_CodeFirst.Models.Brand>

@{
    ViewBag.Title = "Brands";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BrandID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BrandID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BrandID })
        </td>
    </tr>
}

</table>
