@model EF_CodeFirst.ViewModel.LoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Acount", FormMethod.Post))
{
    <div class="row w-25 mx-auto" >
        <div class="col-md-12">
            @Html.LabelFor(temp => temp.Username)
            @Html.TextBoxFor(temp => temp.Username, new { placeholder = "Username", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Username, "", new { @class = "text-danger" })
        </div>
       
        <div class="col-md-12">
            @Html.LabelFor(temp => temp.Password)
            @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(temp => temp.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row w-25 mx-auto">
        <div class="col-md-12">
            @Html.ValidationSummary()
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
}